*.qmlproject.user
*.qmlproject.user.*
RMEssentials.exe
*.sdf
*.suo
*.user
[Dd]ebug/
[Rr]elease/
*.opensdf
*.qm
downloader/
Qt*.dll
*.pd_
.DS_Store
GeneratedFiles/
platforms/
imageformats/
OGLdpf.log
*.pdb