QWidget {
	background: rgb(128, 128, 128);
}

QDialog {
	background: rgb(128, 128, 128);
}

QLabel {
	background: rgb(128, 128, 128);
	text: black;
}

QCheckBox {
	background: rgb(128, 128, 128);
	text: black;
}

QComboBox {
	height: 150;
}